/* src/components/AddKRCard.css */

.add-kr-card {
    background-color: #004D1A; /* Cor alterada */
    color: white; /* Cor do texto alterada */
    height: 260px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    width: 100%; /* Ajuste para flexibilidade */
  }
  
  .plus-symbol {
    font-size: 70px; /* Tamanho alterado */
    font-weight: bold;
    margin-bottom: 10px;
  }
  