.login-container {
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
  }
  
  .top-bar {
    background-color: #004D1A;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    height: 40px;
  }
  
  .login-box {
    background-color: #004D1A;
    width: 750px;
    height: 700px;
    padding: 0 180px;
    border-radius: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.login-title {
  text-align: center;
  font-size: 85px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.form-container {
  width: 100%;
  max-width: 500px;
  margin-top: 110px;
}

.input-field {
  background-color: #f0f0f0;
  border: none;
  margin-bottom: 10px;
  border-radius: 15px;
  height: 50px;
  font-size: 16px;
  padding-left: 15px;
}

.forgot-password-container {
  text-align: center;
  margin-top: 5px;
}

.forgot-password-button,
.forgot-password-button:hover,
.forgot-password-button:active,
.forgot-password-button:focus {
  color: white !important;
  background-color: transparent !important;
  border: none !important;
  text-decoration: underline;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  max-width: 500px;
}

.login-button {
  background-color: #003813;
  border: none;
  padding: 10px 0;
  border-radius: 15px;
  width: calc(100% / 3);
  color: white;
  font-size: 18px;
  text-align: center;
}

.login-button:hover {
  background-color: #00280f;
}