.objective-column {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cards-container {
  display: flex;
  align-items: flex-start;
}

.add-objective-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.objective-cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  align-items: flex-start;
  scrollbar-width: none; 
  flex: 1;
}

.objective-cards-container::-webkit-scrollbar {
  display: none; 
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; 
  border: none;
  cursor: pointer;
  z-index: 1;
  padding: 0; 
  width: 40px; 
  height: 40px;
}

.scroll-button svg {
  color: #004D1A; 
  font-size: 28px; 
}

.scroll-button:hover svg {
  color: #004D1A; 
}

.scroll-button.left {
  left: -25px; 
}

.scroll-button.right {
  right: -40px; 
}

