
.objetivos-container {
  background-color: white;
  min-height: 100vh;
  padding-top: 60px;
}

.objective-section {
  margin-top: 40px;
}

.section-header {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-line {
  border: none;
  height: 2px;
  background-color: #004D1A;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.section-title {
  background-color: white;
  padding: 0 10px;
  color: #004D1A;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
}

.expand-icon {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #004D1A;
  font-size: 24px;
  cursor: pointer;
}
