/* src/components/ObjectiveColumn.css */

.objective-column-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.objective-grid-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.objective-grid-wrapper.first-expanded {
  margin-top: 20px; /* Ajuste este valor conforme necessário */
}

.objective-grid {
  display: grid;
  grid-template-columns: repeat(5, 280px); /* Cada card tem 280px de largura */
  gap: 20px;
}

.objective-grid > * {
  width: 280px;
  height: 260px;
}

/* Responsividade */
@media (max-width: 1600px) {
  .objective-grid {
    grid-template-columns: repeat(4, 280px);
  }
}

@media (max-width: 1280px) {
  .objective-grid {
    grid-template-columns: repeat(3, 280px);
  }
}

@media (max-width: 960px) {
  .objective-grid {
    grid-template-columns: repeat(2, 280px);
  }
}

@media (max-width: 640px) {
  .objective-grid {
    grid-template-columns: 280px;
  }
}
